.content {
  display: grid;
  grid-template-columns: 65ch auto;
}

.content > .page-outline {
  /* max-width: 20rem; */
  grid-column-start: 2;
  grid-row-start: 1;
  /* grid-row: span 900; */
}

.content > .page-outline > ol {
  position: sticky;
  top: 10px;
}

.content > .page-content {
  /* grid-row-start: 1; */
  /* grid-column-start: 1; */
}
